.contact-button {
    color: var(--text);
    height: 70px;
    margin: 2px 10px 2px 10px;
    border-radius: 12px;
    border: 1px solid var(--back);
    transition: all 0.3s;
}

.contact-button-container {
    display: flex;
    flex-direction: row;
}

.contact-button:hover {
    background-color: var(--button-hover);
    border: 1px solid var(--border);
}

.contact-button img {
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.contact-button h3 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.image-container {
    margin: 0;
    height: 70px;
}

.text-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#feature-contact-button {
    margin-right: 5px;
    height: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

#abort-feature-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    color: white;
    background-color: #C62828;
}

#confirm-feature-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    color: white;
    background-color: #1976D2;
}






.feature-confirm-contact-button {
    margin-right: 5px;
    height: 70px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.feature-confirm-contact-button button {
    flex-grow: 1;
    margin-left: 5px;
}

#abort-add-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: white;
    background-color: #C62828;
}

#confirm-add-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: white;
    background-color: #1976D2;
}

#abort-delete-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: black;
    background-color: #eeeeee;
}

#confirm-delete-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: white;
    background-color: #C62828;
}

#abort-request-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: black;
    background-color: #eeeeee;
}

#send-request-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: white;
    background-color: #1976D2;
}

#accept-request-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: white;
    background-color: #1976D2;
}

#reject-request-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: white;
    background-color: #C62828;
}