#login-page {
    padding: 20px;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#login-page-container {
    position: relative;
    max-width: 300px;
    width: 100%;
    background: var(--back);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#page-title {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 30px;
}

#email-input {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 30px);
    background-color: var(--back);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 12px;
    padding: 0 15px;
}

#email-input:focus {
    outline: none;
    background-color: var(--input-focus);
    border: 1px solid var(--border);
}

#password-input {
    height: 40px;
    margin-top: 10px;
    width: calc(100% - 30px);
    background-color: var(--back);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 12px;
    padding: 0 15px;
}

#password-input:focus {
    outline: none;
    background-color: var(--input-focus);
    border: 1px solid var(--border);
}

#signup-question {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#signup-question a {
    text-decoration: none;
    color: #0D47A1;
}

#login-clear-button {
    height: 40px;
    width: calc(50% - 10px);
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #d32f2f;
    transition: all 0.3s;
}

#login-clear-button:hover {
    background-color: #b71c1c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#login-send-button {
    margin-left: 20px;
    height: 40px;
    width: calc(50% - 10px);
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #1976D2;
    transition: all 0.3s;
}


#login-send-button:hover {
    background-color: #0d47a1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}