#message-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 140px);
    overflow: auto;
    padding: 15px 0px 5px 0px;
    background-color: #ECEFF1;

}

.message-text {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
}

.received-message {
    background-color: white;
    align-self: flex-start;
    max-width: 70%;
    margin: 7px 20px 7px 20px;
    padding: 5px 15px 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.sent-message {
    background-color: #90CAF9;
    /* background-color: #8be9b9; */
    align-self: flex-end;
    max-width: 70%;
    margin: 7px 20px 7px 20px;
    padding: 5px 15px 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

#message-input-container {
    display: flex;
    width: auto;
    padding: 0px 5px 0px 30px;
    background-color: white;
    border-top: 1px solid rgb(230, 230, 230);
    align-items: center;
}

#message-input {
    height: 60px;
    flex-grow: 1;
    margin: 0px;
    border: 0px;
    padding: 0px;
    outline: none;
}

#message-sender {
    height: 40px;
    width: 50px;
    margin: 0px 20px 0px 10px;
    border: 0px;
    padding: 0px;
    outline: none;
    border-radius: 7px;
    background-color: white;
}

#message-sender:hover {
    background-color: #f2f2f2;
}