#message-container {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100% - 160px);
    overflow: auto;
    padding: 15px 0px 5px 0px;
}

.message-text {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
}

.message-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

.received-message {
    background-color: var(--back);
    color: var(--text);
    align-self: flex-start;
    max-width: 60%;
    margin: 3px 20px 3px 30px;
    padding: 5px 15px 5px 15px;
    border: 1px solid var(--border);
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    word-wrap: break-word;
}

.sent-message {
    background-color: var(--sent-message);
    color: var(--text-message);
    align-self: flex-end;
    max-width: 60%;
    margin: 3px 30px 3px 20px;
    padding: 5px 15px 5px 15px;
    border: 1px solid var(--border);
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    word-wrap: break-word;
}

#message-input-container {
    border-radius: 12px;
    display: flex;
    width: auto;
    margin: 10px;
    margin-top: 0px;
    background-color: var(--back);
    border: 1px solid var(--border);
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

#form-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#message-input {
    height: 55px;
    flex-grow: 1;
    margin: 0px;
    margin-left: 10px;
    border: 0px;
    padding: 0px;
    outline: none;
    background-color: var(--back);
    border-radius: 12px;
    color: var(--text);
}

#message-sender {
    height: 40px;
    width: 50px;
    margin: 0px 7px 0px 10px;
    border: 0px;
    padding: 0px;
    outline: none;
    border-radius: 12px;
    background-color: var(--back);
    color: var(--text);
}

#message-sender:hover {
    cursor: pointer;
    background-color: var(--button-hover);
    border: 1px solid var(--border);
}

#message-sender:disabled {
    visibility: hidden;
    display: none;
}

#emoji-picker {
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 75px;
}

.sent-time-date-container {
    display: flex;
    justify-content: flex-end;
}

.message-status {
    margin: 0px;
    font-size: 10px;
    margin-left: 5px;
    color: var(--text);
}

.received-time-date-container {
    display: flex;
}

.received-time-date-container:hover {
    cursor: default;
}

.sent-time-date-container:hover {
    cursor: default;
}

.sent-time-date-container:hover .message-date {
    display: block;
}

.received-time-date-container:hover .message-date {
    display: block;
}

.message-time {
    font-size: 10px;
    margin: 0px;
}

.message-date {
    font-size: 10px;
    margin: 0px;
    margin-left: 5px;
    display: none;
}

#emoji-sender {
    height: 40px;
    width: 50px;
    border: 1px solid transparent;
    padding: 0px;
    outline: none;
    border-radius: 12px;
    background-color: var(--back);
    color: var(--text);
}

#emoji-sender:hover {
    cursor: pointer;
    background-color: var(--button-hover);
    border: 1px solid var(--border);
}

#image-sender {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(40px - 3px);
    width: 50px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 2px;
    padding: 0px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 12px;
    background-color: var(--back);
    color: var(--text);
}

#image-sender span {
    margin: 0px;
    margin-top: 3px;
    padding: 0px;
}

#image-sender:hover {
    background-color: var(--button-hover);
    border: 1px solid var(--border);
}

#image-input {
    cursor: pointer;
    margin: 0px;
    visibility: hidden;
    display: none;
}

#image-preview-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 75px;
    width: 300px;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--back);
    border: 1px solid var(--border);
}

#image-preview {
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

#remove-image-preview {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    height: 40px;
    width: calc(100% - 40px);
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #d32f2f;
    margin-top: 150px;
    transition: all 0.3s;
}

#remove-image-preview:hover {
    cursor: pointer;
    background-color: #b71c1c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}