#profile-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

#profile-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#logout-button {
    height: 40px;
    width: calc(100% - 20px);
    border: 0px;
    outline: 0px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    background-color: #C62828;
    transition: all 0.3s;
}

#logout-button:hover {
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.colors-container {
    display: flex;
    margin-bottom: 30px;
}

.theme-color {
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid var(--border);
}

#light-theme {
    background-color: #ffffff;
}

#dark-theme {
    background-color: #000000;
}

#default-color {
    background-color: #eceff1;
}

#gold-color {
    background-color: #fece2f;
}

#nature-color {
    background-color: #46a094;
}

#sky-color {
    background-color: #3b7197;
}