#side-section {
  border-inline-end: 1px solid var(--border);
  height: 100%;
  width: 300px;
  background-color: var(--back);
}

#side-top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
  background-color: var(--back);
  height: 62px;
  margin: 10px;
  border-radius: 12px;
}

#side-top-bar a {
  color: var(--text);
  text-decoration: none;
  font-size: 13px;
}

.side-top-bar-button:hover {
  background-color: var(--button-hover);
  border: 1px solid var(--border);
}

.side-top-bar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--back);
  border-radius: 12px;
  border: 1px solid var(--back);
  transition: all 0.3s;
}

.side-top-bar-button-name {
  margin-top: 3px;
}

#side-search-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 2px;
}

#search-control-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#abort-search {
  width: calc(50% - 5px);
  height: 40px;
  margin-right: 5px;
  border: 0px;
  text-decoration: none;
}

#abort-search span {
  color: var(--text);
  margin-left: 5px;
  padding: 0px;
  font-size: 20px;
}

#abort-search-button {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  background-color: var(--back);
  color: var(--text);
  border-radius: 20px;
  transition: all 0.3s;
}

#abort-search-button:hover {
  background-color: var(--button-hover);
}

#send-search {
  width: calc(50% - 5px);
  height: 40px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  background-color: var(--back);
  color: var(--text);
  border-radius: 20px;
  transition: all 0.3s;
}

#send-search:hover {
  background-color: var(--button-hover);
}

#send-search span {
  color: var(--text);
  padding: 0px;
  font-size: 20px;
}

#side-search {
  height: 40px;
  width: calc(100% - 30px);
  border: 1px solid var(--border);
  border-radius: 20px;
  background-color: var(--back);
  padding: 0 15px;
  transition: all 0.3s;
  color: var(--text);
}

#side-search:focus {
  outline: none;
  background-color: var(--input-focus);
}

#side-feature-button {
  height: 70px;
  margin: 2px 10px 2px 10px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--back);
  transition: all 0.3s;
}

#side-feature-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

#side-feature-button:hover {
  background-color: var(--button-hover);
  border: 1px solid var(--border);
}

#side-feature-button a {
  color: var(--text);
  text-decoration: none;
  font-size: 13px;
}

#side-feature-button span {
  padding: 10px;
  border: 1px solid var(--text);
  color: var(--text);
  font-size: 28px;
  font-weight: 400;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 20px;

}

#side-feature-button h3 {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

#requests-count {
  padding-left: 10px;
  color: red;
}

#side-elements-container {
  height: calc(100% - 80px);
  overflow: auto;
}

#side-text-message-info {
  text-align: center;
}

#first-feature-contact-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid var(--border);
  background-color: var(--button-hover);
  color: var(--text);
  margin: 10px;
  margin-top: 2px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
}

#second-feature-contact-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid var(--border);
  background-color: var(--button-hover);
  color: var(--text);
  margin: 10px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

#back-from-feature-button {
  margin-left: 10px;
  min-height: 40px;
  width: calc(100% - 20px);
  border: 1px solid var(--border);
  outline: 0px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background-color: #d32f2f;
  transition: all 0.3s;
}

#back-from-feature-button:hover {
  border: 1px solid var(--border);
  background-color: #b71c1c;
}