#signup-page {
    background-color: #fece2f;
    padding: 20px;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-page-container {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#signup-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
}

#page-title {
    margin: 0px;
    font-size: 30px;
}

#name-input {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 30px);
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    padding: 0 15px;
}

#name-input:focus {
    outline: none;
    background-color: rgb(255, 193, 7, 0.1);
    border: 1px solid rgb(255, 193, 7, 0.2);
}

#surname-input {
    height: 40px;
    margin-top: 10px;
    width: calc(100% - 30px);
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    padding: 0 15px;
}

#surname-input:focus {
    outline: none;
    background-color: rgb(255, 193, 7, 0.1);
    border: 1px solid rgb(255, 193, 7, 0.2);
}

#email-input {
    height: 40px;
    margin-top: 10px;
    width: calc(100% - 30px);
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    padding: 0 15px;
}

#email-input:focus {
    outline: none;
    background-color: rgb(255, 193, 7, 0.1);
    border: 1px solid rgb(255, 193, 7, 0.2);
}

#verify-email-input {
    height: 40px;
    margin-top: 10px;
    width: calc(100% - 30px);
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    padding: 0 15px;
}

#verify-email-input:focus {
    outline: none;
    background-color: rgb(255, 193, 7, 0.1);
    border: 1px solid rgb(255, 193, 7, 0.2);
}

#password-input {
    height: 40px;
    margin-top: 10px;
    width: calc(100% - 30px);
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    padding: 0 15px;
}

#password-input:focus {
    outline: none;
    background-color: rgb(255, 193, 7, 0.1);
    border: 1px solid rgb(255, 193, 7, 0.2);
}

#verify-password-input {
    height: 40px;
    margin-top: 10px;
    width: calc(100% - 30px);
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    padding: 0 15px;
}

#verify-password-input:focus {
    outline: none;
    background-color: rgb(255, 193, 7, 0.1);
    border: 1px solid rgb(255, 193, 7, 0.2);
}

#login-question {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#login-question a {
    text-decoration: none;
    color: #0D47A1;
}

#signup-clear-button {
    height: 40px;
    width: calc(50% - 10px);
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    color: white;
    background-color: #C62828;
}

#signup-send-button {
    margin-left: 20px;
    height: 40px;
    width: calc(50% - 10px);
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    color: white;
    background-color: #1976D2;
}