#signup-page {
    padding: 20px;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-page-container {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: var(--back);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#signup-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
}

#page-title {
    margin: 0px;
    font-size: 30px;
}

#name-input {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 30px);
    background-color: var(--back);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 12px;
    padding: 0 15px;
}

#name-input:focus {
    outline: none;
    background-color: var(--input-focus);
    border: 1px solid var(--border);
}

#surname-input {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 30px);
    background-color: var(--back);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 12px;
    padding: 0 15px;
}

#surname-input:focus {
    outline: none;
    background-color: var(--input-focus);
    border: 1px solid var(--border);
}

#verify-email-input {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 30px);
    background-color: var(--back);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 12px;
    padding: 0 15px;
}

#verify-email-input:focus {
    outline: none;
    background-color: var(--input-focus);
    border: 1px solid var(--border);
}

#verify-password-input {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 30px);
    background-color: var(--back);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 12px;
    padding: 0 15px;
}

#verify-password-input:focus {
    outline: none;
    background-color: var(--input-focus);
    border: 1px solid var(--border);
}

#login-question {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#login-question a {
    text-decoration: none;
    color: #0D47A1;
}

#signup-clear-button {
    height: 40px;
    width: calc(50% - 10px);
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #d32f2f;
    transition: all 0.3s;
}

#signup-clear-button:hover {
    background-color: #b71c1c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#show-uploader-button {
    margin-left: 20px;
    height: 40px;
    width: calc(50% - 10px);
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #1976D2;
    transition: all 0.3s;
}

#show-uploader-button:hover {
    background-color: #0d47a1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#photo-uploader-container-buttons {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
}

#preview-picture-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#signup-picture-container {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#signup-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#upload-profile-picture-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 40px;
    margin-top: 10px;
    width: calc(100% - 40px);
    background-color: var(--input-focus);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#input-profile-picture {
    display: none;
}

#remove-signup-picture {
    position: absolute;
    height: 40px;
    width: 180px;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #d32f2f;
    margin-top: 150px;
    transition: all 0.3s;
}

#remove-signup-picture:hover {
    background-color: #b71c1c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


#hide-uploader-button {
    height: 40px;
    width: 100%;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: black;
    background-color: #eeeeee;
    transition: all 0.3s;
}

#hide-uploader-button:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#signup-send-button {
    height: 40px;
    width: 100%;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #1976D2;
    transition: all 0.3s;
}

#signup-send-button:hover {
    background-color: #0d47a1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#reset-signup-button {
    height: 40px;
    width: 100%;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #1976D2;
    transition: all 0.3s;
}

#reset-signup-button:hover {
    background-color: #0d47a1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#go-login-button {
    height: 40px;
    width: 100%;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background-color: #1976D2;
    transition: all 0.3s;
}

#go-login-button:hover {
    background-color: #0d47a1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#validations {
    color: #d32f2f;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

@media screen and (width < 400px) {
    #signup-container label {
        font-size: 13px;
    }
}