#abort-delete-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: black;
    background-color: #eeeeee;

}

#confirm-delete-contact-button {
    height: 30px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    border: 1px solid var(--border);
    color: white;
    background-color: #C62828;
}